<div class="footer-container">
  <div class="text-edit">
    <%= link_to "Ray 'The Hammer' Hamel | ", "https://github.com/rayhamel" %>
    <%= link_to "Josh 'JDog' Fields | ", "https://github.com/joshuafields" %>
    <%= link_to "Craig 'The Crag' Barstow | ", "https://github.com/craigbarstow" %>
    <%= link_to "Fred 'Fredstyle' Chapman", "https://github.com/areinei123" %>
  </div>
</div>
