<div class="row">
  <div class="small-12 columns" id="edit-wrapper">
    <%= link_to "Back", tutorial_path(@tutorial.id), class: "button radius" %>

    <h1>Edit Tutorial</h1>
    <%= render 'form' %>
  </div>
</div>
