<div class="row">
	<div class="small-12 columns">
		<% @tutorials.each do |tutorial| %>
			<%= link_to tutorial do %>
				<h2><%= tutorial.title %></h2>
			<% end %>
		<% end %>

		<%= link_to "Add Tutorial", new_tutorial_path, class: "button radius" %>
	</div>
</div>
