<%= link_to "Back", tutorials_path, class: "button radius", id:"tutorial-back-button" %>
<div class='row'>
  <div class='small-12 column new-tutorial-wrapper'>
    <h1>Add a Tutorial</h1>
    <%= render 'form' %>
  </div>
</div>
