/* Color Definitions */
$dark-gray: #2e2e2e;
$dark-gray-hover: #262626;
$opaque-white: rgba(186, 186, 186, 0.9);
$white: #fff;
$orange: #ef4b00;
$blue: #00a4dd;
$flash-color: $orange;
$shale-gray: #3f6376;

$border-radius: 5px;

/**********************************************************
General Styling
**********************************************************/

html  * {
  font-family: avenir-roman;
}

body {
  background-color: $shale-gray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
  background-color: $dark-gray;
  text-color: $white;
  text-decoration: none;
}

.button:hover {
  background-color: $dark-gray-hover;
}

.longer-row {
  max-width: 130rem;
}

.flash {
  background-color: $flash-color;
  padding: 1em;
}

.index-tag-overflow a {
  text-color: $white;
  text-decoration: none;
}

/**********************************************************
Nav Bar Styling
**********************************************************/
.top-bar {
  height: 5rem;
  background-color: $dark-gray;

  .top-bar-section {
    li:not(.has-form) a:not(.button),
    li:not(.has-form) a:not(.button):hover,
    ul li,
    ul li:hover:not(.has-form) > a {
      background-color: $dark-gray;
      background: $dark-gray;
    }

  .right li a {
      font-size: 1.8rem;
      margin-top: 0.8rem;
    }
  }

  .title-area .name h1 {
    font-family: "Courier New";
    font-size: 2.3rem;
    margin-top: 0.8rem;
  }

  .header-icon {
    height: 5rem;
    margin-left: 3rem;
  }
}

/**********************************************************
Devise Styling
**********************************************************/
.devise-content-wrapper {
  margin-top: 14rem;
  background-color: $opaque-white;
  border: 1px solid $dark-gray;
}

/**********************************************************
Tutorial Index Page Styling
**********************************************************/
.index-search-wrapper {
  background-color: $opaque-white;
  margin-left: 1rem;
  margin-top: 3rem;
  padding-top: 1rem;
}

.tutorial-seach-spacing {
  padding-top: 2rem;
}

.tutorial-index-wrapper {
  background-color: $opaque-white;
  margin-right: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.tutorial-thumbnail-wrapper {
  margin: 0 auto;
  padding: none;
}

.tutorial-thumbnail-wrapper a {
  color: #000000;
  text-decoration: none;
}

.tutorial-thumbnail {
  width: 100%;
  height: 100%;
  background-color: $dark-gray;
  border-radius: $border-radius;
  text-align: center;
  word-wrap: break-word;
}

.tutorial-thumbnail:hover {
  background-color: $dark-gray-hover;
}

.tutorial-thumbnail h2 {
  padding-top: .25rem;
  color: $white;
}

.thumbnail-tag {
  border: 1px solid $opaque-white;
}

.pagination {
  text-align:center
}

.pagination span {
  font-size: 1.55rem;
}

.index-tag-overflow {
  max-height: 15rem;
  overflow: auto;
}

.index-stars {
  margin: 2rem auto;
  text-align: center;
}

.footer-container {
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  background-color: $dark-gray;
}

.text-edit {
  text-decoration: none;
  text-align: center;
}
/**********************************************************
New Tutorial Page Styling
**********************************************************/
.new-tutorial-wrapper {
  padding-top: 1rem;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  background-color: $opaque-white;
  border: 1px solid $dark-gray;
}

#tutorial-back-button {
  margin-bottom: 1rem;
  float: right;
}

.new-tutorial-wrapper h1 {
  display: inline-block;
}

/**********************************************************
Show Tutorial Page Styling
**********************************************************/
.show-tutorial-wrapper {
  margin-top: 2rem;
  background-color: $opaque-white;
  border: 1px solid $dark-gray;
  margin-bottom: 1.5rem;
}

.show-review-wrapper {
  background-color: $opaque-white;
  border: 1px solid $dark-gray;
  margin-bottom: 1.5rem;
}

.review-wrapper {
  border-bottom: 1px solid $dark-gray;
  margin-bottom: 1rem;
}

.upvote-img {
  display: block;
}

.vote-score {
  display: block;
}

.downvote-img {
  display: block;
}

.review-image {
  height: 50px;
  width: 50px;
}

#reviews-header {
  color: $orange;
}

#tutorial-title {
  color: $orange;
  margin-top: 1rem;
  margin-bottom: -1.75rem;
}

/**********************************************************
Edit Tutorial Page Styling
**********************************************************/
#edit-wrapper {
  margin-top: 4em;
}

.review-image {
  height: 50px;
  width: 50px;
}

/**********************************************************
User Show Page Styling
**********************************************************/
#user-list {
  color: $orange;
}
#user-list-table tr:nth-of-type(even) {
    background-color: $opaque-white !important;
}

#user-list-table tr:nth-of-type(odd) td {
    border-left: 1px solid $opaque-white;
    border-right: 1px solid $opaque-white;
}
