/* Color Definitions */
$dark-gray: #2e2e2e;
$dark-gray-hover: #262626;
$opaque-white: rgba(255, 255, 255, 0.8);
$white: #fff;
$orange: rgb(214, 71, 31);
$flash-color: $orange;

$border-radius: 5px;

/**********************************************************
General Styling
**********************************************************/

body {
  background: url("binary-background.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
  background-color: $dark-gray;
}

.button:hover {
  background-color: $dark-gray-hover;
}

.longer-row {
  max-width: 130rem;
}

.flash {
  background-color: $flash-color;
  padding: 1em;
}

/**********************************************************
Nav Bar Styling
**********************************************************/
.top-bar {
  height: 5rem;
  background-color: $dark-gray;

  .top-bar-section {
    li:not(.has-form) a:not(.button),
    li:not(.has-form) a:not(.button):hover,
    ul li,
    ul li:hover:not(.has-form) > a {
      background-color: $dark-gray;
      background: $dark-gray;
    }

  .right li a {
      font-size: 1.8rem;
      margin-top: 0.8rem;
    }
  }

  .title-area .name h1 {
    font-family: "Courier New";
    font-size: 2.3rem;
    margin-top: 0.8rem;
  }

  .header-icon {
    height: 5rem;
    margin-left: 3rem;
  }
}

/**********************************************************
Devise Styling
**********************************************************/
.devise-content-wrapper {
  margin-top: 14rem;
  background-color: $opaque-white;
  border: 1px solid $dark-gray;
}

/**********************************************************
Tutorial Index Page Styling
**********************************************************/
.index-search-wrapper {
  margin: 5rem 0;
  background-color: $opaque-white;
}


.tutorial-index-wrapper {
  margin: 5rem 0;
}

.tutorial-thumbnail-wrapper {
  margin: 0 auto;
  padding: none;
}

.tutorial-thumbnail-wrapper a {
  color: #000000;
  text-decoration: none;
}

.tutorial-thumbnail {
  width: 100%;
  height: 100%;
  min-height: 500px;
  background-color: $opaque-white;
  border-radius: $border-radius;
}

.tutorial-thumbnail:hover {
  background-color: $white;
}

.tutorial-thumbnail h3 {
  color: $orange;
}

#pagination-wrapper {
  margin-left: 12rem;
  text-align: center;
}

.pagination {
  background-color: $opaque-white;
}

.pagination span {
  font-size: 1.7rem;
}
/**********************************************************
New Tutorial Page Styling
**********************************************************/
.new-tutorial-wrapper {
  margin-top: 14rem;
  background-color: $opaque-white;
  border: 1px solid $dark-gray;
}

#tutorial-back-button {
  margin-top: 2rem;
  margin-left: 2rem;
}

/**********************************************************
Show Tutorial Page Styling
**********************************************************/
.show-tutorial-wrapper {
  margin-top: 5rem;
  background-color: $opaque-white;
  border: 1px solid $dark-gray;
}

.review-wrapper {
  border-bottom: 1px solid $dark-gray;
  margin-bottom: 1rem;
}

.upvote-img {
  display: block;
}

.vote-score {
  display: block;
}

.downvote-img {
  display: block;
}

.review-image {
  height: 50px;
  width: 50px;
}
/**********************************************************
Edit Tutorial Page Styling
**********************************************************/
#edit-wrapper {
  margin-top: 4em;
}

.review-image {
  height: 50px;
  width: 50px;
}
