@media (max-width: 40rem) {
  .index-search-wrapper {
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .tutorial-index-wrapper {
    margin-top: 1rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 50rem) {
  .index-search-wrapper {
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .tutorial-index-wrapper {
    margin-top: 1rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }
}
